<h1>Upload msword, text or image files to get Hash Sums</h1>

<%= simple_form_for @lab3_1, url: lab3_path do |form | %>
    <%= form.input :file, as: :file %>
<% end %>

<%= simple_form_for @lab3_2, url: lab3_path do |form | %>
    <%= form.input :file, as: :file %>
<% end %>

<%= simple_form_for @lab3_3, url: lab3_path do |form | %>
    <%= form.input :file, as: :file %>
<% end %>
